  
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

*{
  box-sizing: border-box;
  margin: 0;
}

html, body{
  margin: 0;
  background: #e2e9f1;   // #0d233c;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
h1, .h1{
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 50px;;
    color: #112f52;
    margin-top: 20px;
}
label{
    display: block;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.8;
    color: #112f52;
}
.navbar{
    background-color: #112f52;
    color: #e2e9f1;

    .navbar-brand { 
      font-size: 28px;
      font-weight: 500;
      width: 25rem;
      color: #e59700;
    }
}
.navbar-light .navbar-nav .nav-link{
    font-size: 24px;
    color: #e2e9f1;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(226, 233, 241, 0.7) ;
}

.card-footer {
    background-color: #e59700; // #a3a2a2;;
    color: #ffffff;
    font-size: 18px;
}

.btn-info:hover, .btn-info:active, .btn-info:visited, .btn-info:focus {
    color: #fff;
    background-color: #385d86;
    border-color: #385d86;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #385d86;
    border-color: #385d86;
}

.content{ 
    margin: auto;
    width: 60%;
    padding: 10px;
    .mycard{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .card{
            background-color: #244365;
            border: none;
            color: #ffffff;
            .card-body{
                background-color: #385d86;
            }
        }
    }
}
 

